:root {
    --blanco: #ffffff;
    --oscuro: #212121;
    --primario: #ffc107;
    --secundario: #0097a7;
    --gris: #757575;
    --colorpie: #dfe9f3;
}

/* Global **/
html{
    font-size: 62.5%;
    box-sizing: border-box; /* Hack para Box Model */
    background-image: linear-gradient(to top,var(--colorpie) 0%, var(--blanco) 100%);/* Degrado de Color background */
    scroll-snap-type: y mandatory;
}


/*Scroll Snap*/
.servicios,
.navegacion-principal,
.formulario{
    scroll-snap-align: center;
    scroll-snap-stop: always;
}

*, *:before, *:after {
    box-sizing: inherit;
  }

body{
    font-size: 16px;/* 1rem = 10px*/
    font-family: "Rubik", sans-serif;
}

.contenedor{
    max-width: 120rem;
    margin: 0 auto;/*Si los valores se repiten pudes eliminar dos de ellos.*/
}

.boton{
    background-color: var(--secundario);
    color: var(--blanco);
    padding: 1rem 3rem;
    margin-top: 1rem;
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: .5rem;
    width: 90%;
    text-align: center;
    border: none;
}
@media (min-width: 768px){
    .boton{
        width: auto;
    }
        
}

.sombra{
    box-shadow: 0px 10px 15px 0px rgba(0,0,0,0.75);
    background-color: var(--blanco);
    padding: 2rem;
    border-radius: 1rem;
}

.boton:hover{
    cursor: pointer;
}

/* Tipografia */
h1{
    font-size: 3.8rem;
}

h2{
    font-size: 2.8rem;
}

h3{
    font-size: 1.8rem;
}

h1,h2,h3{
    text-align: center;
}


/* Titulos */
.titulo span{
    font-size: 2rem;
}

/* Utilidades*/

.w-sm-100{
    width: 100%;
}

.flex{
   display: flex; 
}
.alinear-derecha{
    justify-content: flex-end;
}

@media(min-width: 768px){
    .w-sm-100{
        width: auto;
    }
}
/* Navegaci칩n Principal */
.nav-bg{
    background-color: var(--secundario);
}

.navegacion-principal{
    display: flex;
    flex-direction: column;

}

@media(min-width: 768px){
    .navegacion-principal{
        flex-direction: row; 
        justify-content: space-between;  
    }
}

.navegacion-principal a {
    display: block;
    text-align: center;
    color: var(--blanco);
    text-decoration: none;
    font-size: 2rem;
    font-weight: 700;
    padding: 2rem;
}

.navegacion-principal a:hover{
    background-color: var(--primario);
    color: var(--oscuro);
}


/* Hero */
.hero{
    background-image: url(../img/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    position: relative;
    margin-bottom: 2rem;
}

.contenido-hero{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, .6);/* Anterior */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenido-hero h2,
.contenido-hero p{
    color: var(--blanco);
    
}

.contenido-hero .ubicacion{
    display: flex;
    align-items: flex-end;
}


/* Servicios*/
@media(min-width: 768px){
    .servicios{
        display: grid;
        grid-template-columns: repeat(3, 1fr); /* Repetir 3 veces 1fr*/
        column-gap: 1rem; /* Crea separaci칩n en las columnas */
    }
}

.servicio{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.servicio h3{
    color: var(--secundario);
    font-weight: normal;
    text-align: center;
}

.servicio p{
    line-height: 2;/* Sirve para hacer interlineados */
}

.servicio .iconos{
    height: 15rem;
    width: 15rem;
    background-color: var(--primario);
    border-radius: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/** Contacto **/

.formulario{
    background-color: var(--gris);
    width: min(60rem, 100%); /** min Utilizar el valor m치s peque침o **/
    margin: 0 auto; /* 0 auto se utiliza cuando el padre no tenga un display flex */
    padding: 2rem;
    border-radius: 1rem;

}

.formulario fieldset{
    border: none;
}

.formulario legend{
    text-align: center;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 2rem;
    color: var(--primario);

}

@media(min-width: 768px){
    .contenedor-campos{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto auto 20rem;
        column-gap: 1rem;

    }
}

.campo:nth-child(3),  /* Sirve para seleccionar diferentes clases si se repiten */
.campo:nth-child(4){
    grid-column: 1 / 3;
}


.campo{
    margin-bottom: 1rem;

}

.campo label{
    color: var(--blanco);
    font-weight: bold;
    display: block;
}

.campo textarea{
    height: 15rem;
}

.input-text{
    width: 100%;
    border: none;
    padding: 1.5rem;
    border-radius: .5rem;
}

/* Footer */
.footer{
    text-align: center;
}